
<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h3 class="margin">What is HackOrg?</h3>
  <span class ="glyphicon glyphicon-user"></span>
  <h3>An easy to use web application to manage access and streamline your hackathon.</h3>
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
  <h3 class="margin">How can I get started?</h3>
  <p>Sign up using the sign up link. </p>
  <a href="signup" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-search"></span> Sign Up
  </a>
</div>
