
<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <div class = "row">
  	<h3 class="margin">Login</h3>
  </div>

  <div class = "row">
  	<div class = "col-sm-4"></div>
  	<div class = "col-sm-4">
    <form action = "/login" method="post">
      <input id = "userName" class="form-control" type="text" name="email" placeholder="example@example.com">
      <input id = "password" class="form-control" type="password" name="password" placeholder="password">
    </div>
  </div>

  <div class = "row">
    <div class = "col-sm-4"></div>
    <div class = "col-sm-4">
      <button id="submitButton" type="submit" class="btn btn-md btn-success"><h4>Submit</h4></button>
    </form>
  	</div>
  	</div>
</div>
