<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h1 id="studentName" class="margin">{{fullName}}</h1>
  <img id="studentImage" src={{photoURL}}>
  <h3 id="studentCollege" class="margin">{{school}}</h3>
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
  <h3 class="margin">Your QR Event QR Code</h3>
  <img src={{qrcode}}>
  <br><br>
  <p>Please present this code to Hackathon Staff....</p>
  <p>At admission to the event</p>
  <p>For hardware rentals</p>
  <p>And at all meals</p>
</div>
